RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .* 								- 								[L]

RewriteRule ^a-([a-z\-]+)/([0-9]+)/?$			/?a=$1&id=$2					[L,NC,QSA]
RewriteRule ^a-([a-z\-]+)/?$					/?a=$1							[L,NC,QSA]
RewriteRule ^([a-z\-]+)/([0-9]+)/?$				/?m=$1&id=$2					[L,NC,QSA]
RewriteRule ^([a-z\-]+)/?$						/?m=$1							[L,NC,QSA]
RewriteRule ^([0-9]+)/?$						/?m=info&id=$1					[L,NC,QSA]

